@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-sf);
  
  --color-primary: 10 10 10;
  --color-base-black: #22232E;
  --color-base-white: #ffffff;
  
  --color-neutral-50: 250 250 250;
  --color-neutral-100: 245 245 245;
  --color-neutral-200: 229 229 229;
  --color-neutral-300: 212 212 212;
  --color-neutral-400: 163 163 163;
  --color-neutral-500: 115 115 115;
  --color-neutral-600: 82 82 82;
  --color-neutral-700: 64 64 64;
  --color-neutral-800: 38 38 38;
  --color-neutral-900: 23 23 23;
  --color-neutral-950: 10 10 10;
  
  --radius-ui: 12px;
  --radius-ui-lg: 16px;
  --radius-ui-sm: 6px;
  
  --spacing-13: 3.25rem;
  --spacing-22: 5.5rem;
  
  --line-height-11: 2.75rem;
  
  --border-width-3: 3px;
  
  --max-width-8xl: 2200px;
  
  --animate-spin-fast: spin 0.5s linear infinite;
}

body {
  @apply bg-neutral-100 text-base-black antialiased;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgb(212, 212, 216) rgb(244, 244, 247);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(163, 163, 163);
  border-radius: 10px;
  border: 3px solid rgb(163, 163, 163);
}

.no-scrollbar {
  scrollbar-width: none;
}

.wrapper {
  @apply mx-auto max-w-7xl px-8;
}

.markdown ol {
  @apply my-3 list-decimal pl-5 marker:font-medium;
}

.markdown ul {
  @apply my-3 list-disc pl-5;
}

.markdown p {
  @apply my-3;
}

.dialog-overlay {
  animation: DialogOverlayShow 0.1s ease;
}

.dialog-content {
  animation: DialogContentShow 0.15s ease;
}

@keyframes DialogOverlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes DialogContentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -47%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Gradients */

.background-gradient-blue {
  background: radial-gradient(
    rgba(151, 114, 255, 1),
    rgba(151, 114, 255, 0) 70%
  );
}

.background-gradient-green {
  background: radial-gradient(
    rgba(118, 255, 132, 1),
    rgba(118, 255, 132, 0) 70%
  );
}

.background-gradient-yellow {
  background: radial-gradient(rgba(255, 212, 56, 1), rgba(255, 212, 56, 0) 70%);
}

.accordion-content[data-state="open"] {
  animation: slideDown 0.15s ease-in-out;
}
.accordion-content[data-state="closed"] {
  animation: slideUp 0.15s ease-in-out;
}

.accordion-trigger[data-state="open"] > .accordion-chevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
